@{
    ViewData["Title"] = "Home Page";
}

@using Form.Models
@model UserModel

<h1>Html.DisplayFor Example (label)</h1>

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    <span> Enter Your Name : </span>
    @Html.TextBoxFor(m=>m.UserName)
    <input type="submit" value="submit" />
}

<hr />
<b>Strongly typed value :</b>@Html.DisplayFor(m=>m.UserName) <br />
<b>Loosely typed value :</b>@Html.DisplayFor(m=>m.UserName)
<br />