@{
}

@using Form.Models
@model UserModel

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    <b>SignUp Form</b>
    <hr />
    <br />
    <span> Enter UserName : </span>@Html.TextBoxFor(m=>m.UserName)
    <br />
   
    <input type="submit" value="submit" />
}

<hr />
<br />
User Details
<br />
UserName :@ViewBag.username
<br />
