@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Signup";
}
@model PlantNursery.Models.SignUpModel
@using (Html.BeginForm("Register", "Signup", FormMethod.Post))
{
    <h2>Registration Form</h2>
    <br />
    <br />
    
    <b>Email : </b> @Html.TextBoxFor(m=>m.Email,new{@Value="Email"})

    <br />
    <br />
    <b>Password : </b>@Html.PasswordFor(m=>m.Password,new{@Value="Password"})

    <br />
    <br />
    <input type="submit" value="Register" style="color:darkgreen;font-family:'Times New Roman', Times, serif;" />
    <br />
   

    <a href="Signup.cshtml">Login</a>
}