@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div>
    <img src="~/DECOR.png" style="width:1100px ;height:400px" />
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>
                We are not magicians, just really passionate
            </h3>
            <br />
            <p> We are a team of horticultural experts, logistical , design geniuses, and lots of dedicated worker bees trying our best to earn the smile you wear on seeing the healthy, happy plants you receive.</p>
            <br />
            <p>We are a young enthusiastic team of just over 200 people, working behind the scenes to invite you into the secret life of plants. To nudge you to experiment, make mistakes, play, pause, and disconnect from the noise and find your centre</p>
        </div>
        <div class=" col-md-4">
            <img src="~/p1.png" style="width:300px"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/p3.png" style="width:300px"/>
        </div>
        <div class="col-md-8">
            <h3>Why we started Ugaoo</h3>
            <br />
            <p>Ugaoo was formed with the idea to help people pause and breathe in some peace in their busy city lives. When Siddhant returned back to India after finishing his degree in Landscape Architecture at Cal Tech, he noticed the disconnect between people and nature and decided to start Ugaoo to build a bridge between the two.</p>
            <br />
            <p>Rooted firmly in his family’s century old agri-tech business, Ugaoo sprung up like a new leaf on a spring morning and is today a mighty tree that helps other smaller businesses thrive in its shade. We have formed a proudly Made in India ecosystem that grows with each passing day.</p>
        </div>
    </div>
    <br />
    <br />
    <div>
        <img src="~/unique.png" style="width:100%;"/>
    </div>
</div>